<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý khoản thu</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Khoản thu</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
    <div class="nav-search" style="text-align: right;margin-right: 20px;">
      <p class="pull-right no-margin">
        <a (click)="createModal()" class="btn btn-success btn-xs"  style="height: 40px;color: white;font-size: 15px; padding-top: 10px;margin-top: -40px;">
          <i class="fa fa-plus"></i>&nbsp;Thêm khoản thu
        </a>
      </p>
    </div>
  </section>
  
  <!-- Main content -->
  <section class="content app-content">
  
    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">
       <!-- PAGE CONTENT BEGINS -->
       <div class="col-xs-12">
       <p-panel header="Tìm kiếm" [ngStyle]="{'margin-top': '2px', 'font-size': '15px'}"
       >
         <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
           <div class="form-group">
             <label class="col-sm-4 control-label no-padding-right" style="font-size: 15px;">Mô tả</label>
             <div class="col-sm-11">
               <input formControlName="MoTa"  type="text" placeholder="Mô tả" style="font-size: 15px;padding: 10px;border: 1px solid #dee2e6;"/>
             </div>
           </div>
           <div class="form-group">
             <label class="col-sm-1 control-label no-padding-right"></label>
             <div class="col-sm-11">
               <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
             </div>
           </div>
         </form> 
       </p-panel>
       <h3 style="margin-top: 50px;">Danh sách khoản thu</h3>
       <p-table selectionMode="single" [value]="khoanthus" styleClass="p-datatable-gridlines" >
         <ng-template pTemplate="header">
           <tr>
             <th style="width: 70px; text-align: center;background: #343a40;color: white;">STT</th>
             <th style="width: 20%; text-align: left;background: #343a40;color: white;">Mô tả</th>
             <th style="width: 15%; text-align: left;background: #343a40;color: white;">Tính chất</th>
             <th style="width: 20%; text-align: left;background: #343a40;color: white;">Hóa đơn điện tử</th>
             <th style="width: 120px; text-align: left;background: #343a40;color: white;">Tác vụ</th>
           </tr>
         </ng-template>
         <ng-template pTemplate="body" let-item  let-i="rowIndex">
           <tr>
             <td style="width: 70px; text-align: center;">{{ i + 1 }}</td>
             <td>{{ item.moTa }}</td>
             <td>{{ item.tinhChat }}</td>
             <td>{{ item.hoaDonDienTu }}</td>
             <td class="action-col" >
               <div class="btn-group">
                 <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                   <i class="ace-icon fa fa-edit" style="color:rgb(40, 82, 218);"></i>
                 </button>
                 <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                    <i class="ace-icon fa fa-trash" style="color: red;"></i>
                  </button>
               </div>  
             </td>
           </tr>
         </ng-template>
       </p-table>
       <!-- PAGE CONTENT ENDS -->
      </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation"style="margin-right: -8px;float: right;">
          <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  
  </section>
  <!-- /.content -->
  <div *ngIf="showUpdateModal" id="createKhoanThuModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin khoản thu</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin khoản thu</h4>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
          <div class="modal-body no-padding">
            <div class="form-group" style="width: 350px; float: left;">
               
                <label class="col-sm-6 control-label no-padding-right">Tính chất</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="TinhChat" placeholder="Tính chất" />
                </div>
               
            </div>
            <div class="form-group" style="float: left; width: 410px;">
                <label class="col-sm-6 control-label no-padding-right"  *ngIf="isCreate" >Mã khoản thu</label>
                <div class="col-sm-6">
                  <input type="text" formControlName="MaKhoanThu" placeholder="Mã khoản thu"  *ngIf="isCreate" />
                </div>
            </div>
            <div class="form-group"style="width: 350px; float: left;">
                <label class="col-sm-6 control-label no-padding-right">Hóa đơn điện tử</label>
                <div class="col-sm-6">
                    <p-inputSwitch formControlName="HoaDonDienTu"></p-inputSwitch>
                </div>
            </div>
            <div class="form-group" style="float: left; width: 410px;">
                <label class="col-sm-6 control-label no-padding-right">Ngày tạo(<span style="color: red;">*</span>)</label>
                <div class="col-sm-10">
                    <p-calendar formControlName="NgayTao" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar>
                    <div *ngIf="submitted && f.NgayTao.errors" class="invalid-feedback">
                      <div *ngIf="f.NgayTao.errors.required">Ngày tạo là bắt buộc</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label no-padding-right">Người tạo</label>
                <div class="col-sm-5">
                  <input type="text" formControlName="NguoiTao" placeholder="Người tạo" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Mô tả</label>
                <div class="col-sm-12">
                  <p-editor formControlName="MoTa" [style]="{'height':'200px'}"></p-editor>
                </div>
              </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
            <i class="fa fa-bell"></i> Làm mới
          </button>
          <button type="submit" class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> Đồng ý
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
            <i class="fa fa-times"></i> Đóng lại
          </button>
        </div>
      </form>  
      </div>
    </div>
  </div>